body {
    width: 100%;
    background-image: linear-gradient(#131119, #121018);
}

#container-relative {
    position: relative;
}

.mark {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 0;
}

.exit-detail-movie-master {
    position: absolute;
    right: -4%;
    top: 3%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.exit-create-movie-master {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

#loadding-and-error-data-resp {
    background-color: $dark;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}


.menu-search-relative {
    position: relative;
}

#menu-search {
    position: absolute;
    z-index: 5;
    #menu-search-lv-1 {
        width: 100%;
        width: 190px;
        max-width: 300px;
        background-color: white;
        border-radius: 5px;
        margin: 2% auto;
        overflow: hidden;
        >li {
            overflow: hidden ;
            max-height: 35px;
            padding: 8px 10px;
            width: 100%;
            width: 100%;
            background-color: white;
            display: block;
            >a {
                overflow: hidden ;
                height:19px;
                max-height: 10px;
                color: #000;
                text-decoration: none;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        >li:hover {
            background-color: #ddd;
            border-radius: 5px;
        }
    }
}
