body {
    width: 100%;
    background-image: linear-gradient(#131119, #121018);
}

#container-relative {
    position: relative;
}

.mark {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    top: 0;
    opacity: 0.7;
}

.exit-detail-movie-master {
    position: absolute;
    right: -4%;
    top: 3%;
    padding: 20px;
    transform:  translate(-50%,-50%);
}

.exit-create-movie-master {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

#loadding-and-error-data-resp {
    background-color: $dark;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 150%);

    }
}