$input-focus-primary : #861403;

form {
    display: grid;
    grid-template: inherit;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    input {
        display: block;
        padding: 6px 8px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        outline: none;
    }

    input:focus {
        border-color: $input-focus-primary;
    }

    input[type="submit"] {
        background-color: transparent;
    }
}